**Data Structures and Types**

Q1. What are data structures, and why are they important?
- Data structures are ways to store and organize data. They help make data easier to access, use, and manage efficiently.

Q2. Explain the difference between mutable and immutable data types with examples
- Mutable: Can be changed. Example: List ([1, 2])

- Immutable: Cannot be changed. Example: Tuple ((1, 2)), String ("hello")

Q3. What are the main differences between lists and tuples in Python?

- Lists: Mutable, use [], slower

- Tuples: Immutable, use (), faster

Q4. Describe how dictionaries store data
- Dictionaries store data as key-value pairs like {key: value}. Each key is unique.

Q5. Why might you use a set instead of a list in Python?
- Sets remove duplicates automatically and check for membership faster.

Q6. What is a string in Python, and how is it different from a list?
- A string is a sequence of characters (e.g., "hello"). Unlike lists, strings are immutable.

Q7. How do tuples ensure data integrity in Python?
- Tuples can't be changed after creation, which keeps the data safe and unchanged.

Q8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table stores data using a key. Python dictionaries use hash tables to find values quickly using keys.

Q9. Can lists contain different data types in Python?
- Yes, lists can have different data types like [1, "hello", True].

Q10. Explain why strings are immutable in Python
- Strings are immutable to make them secure, save memory, and work better with hashing.

Q11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries are faster for looking up values by keys and are better when data has labels.

Q12. Describe a scenario where using a tuple would be preferable over a list
- When storing fixed data like coordinates (5, 6) or dates (2025, 7, 23) that shouldn't change.

Q13. How do sets handle duplicate values in Python?
- Sets automatically remove duplicate values.

Q14. How does the “in” keyword work differently for lists and dictionaries?
- In lists: Checks if a value exists.

- In dictionaries: Checks if a key exists.

Q15. Can you modify the elements of a tuple? Explain why or why not
- No, tuples are immutable, so their elements can't be changed after creation.

Q16. What is a nested dictionary, and give an example of its use case
- A dictionary inside another dictionary.
Example: {"person": {"name": "Alice", "age": 25}}
Use case: Storing complex data like user profiles.

Q17. Describe the time complexity of accessing elements in a dictionary
- Accessing elements in a dictionary is on average O(1) — very fast.

Q18. In what situations are lists preferred over dictionaries?
- When order matters, or when storing items without labels (like a to-do list).

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Older Python versions didn't keep key order. Retrieval uses keys, not positions, so order usually doesn’t matter.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.
- List: Retrieve by position/index (e.g., list[0])

- Dictionary: Retrieve by key (e.g., dict["name"]

In [1]:
#Q1. Create a string with your name and print it
name = "John"
print(name)

John

In [2]:
#Q2.Find the length of the string "Hello World"
text = "Hello World"
print(len(text))

11

In [3]:
#Q3. Slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
print(text[:3])

Pyt

In [4]:
#Q4. Convert the string "hello" to uppercase
word = "hello"
print(word.upper())

HELLO

In [5]:
#Q5. Replace "apple" with "orange" in "I like apple"
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [6]:
#Q6. Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
#Q7. Append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [8]:
#8. Remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [9]:
#Q9. Access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [10]:
#Q10. Reverse the list [10, 20, 30, 40, 50]
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [11]:
#Q11. Create a tuple with elements 100, 200, 300 and print it
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [12]:
#Q12. Access second-to-last element of tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
#Q13. Find the minimum number in the tuple (10, 20, 5, 15)
nums = (10, 20, 5, 15)
print(min(nums))

5

In [14]:
#Q14. Find the index of "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [15]:
#Q15. Check if "kiwi" is in a fruit tuple
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

In [16]:
#Q16. Create a set with elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'c', 'b', 'a'}

In [17]:
#Q17. Clear all elements from set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [18]:
#Q18. Remove element 4 from set {1, 2, 3, 4}
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [19]:
#Q19. Find union of sets {1, 2, 3} and {3, 4, 5}
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [20]:
#Q20. Find intersection of sets {1, 2, 3} and {2, 3, 4}
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [21]:
#Q21. Create a dictionary with keys "name", "age", "city" and print it
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [22]:
#Q22. Add "country": "USA" to dictionary {'name': 'John', 'age': 25}
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#Q23. Access value of "name" in {'name': 'Alice', 'age': 30}
info = {'name': 'Alice', 'age': 30}
print(info['name'])

Alice

In [24]:
#Q24. Remove key "age" from dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [25]:
#Q25. Check if "city" exists in {'name': 'Alice', 'city': 'Paris'}
data = {'name': 'Alice', 'city': 'Paris'}
print("city" in data)

True

In [26]:
#Q26. Create and print a list, tuple, and dictionary
lst = [1, 2, 3]
tup = (4, 5, 6)
dct = {"a": 1, "b": 2}
print(lst, tup, dct)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [27]:
#Q27. Create list of 5 random numbers between 1-100, sort and print
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[42, 49, 59, 75, 80]

In [28]:
#Q28. Create list with strings and print element at third index
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

In [29]:
#Q29. Combine two dictionaries and print the result
a = {"x": 1, "y": 2}
b = {"z": 3}
combined = {**a, **b}
print(combined)

{'x': 1, 'y': 2, 'z': 3}

In [30]:
#Q30. Convert list of strings into a set
words = ["apple", "banana", "cherry"]
word_set = set(words)
print(word_set)

{'apple', 'banana', 'cherry'}